name: FastAPI-Deployment-Pipeline

on:
  push:
    branches: ["main"]
  pull_request:
    branches: ["main"]

permissions:
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_KEY }}
          aws-region: ${{ secrets.AWS_REGION }}

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v2

      - name: Build and push Docker image to ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: ${{ secrets.AWS_ECR_REPOSITORY }}
          IMAGE_TAG: ${{ github.sha }}
        run: |
          FULL_IMAGE_NAME="${ECR_REGISTRY}/${ECR_REPOSITORY}"
          
          docker build -t "${FULL_IMAGE_NAME}:${IMAGE_TAG}" .
          docker build -t "${FULL_IMAGE_NAME}:latest" .
          
          docker push "${FULL_IMAGE_NAME}:${IMAGE_TAG}"
          docker push "${FULL_IMAGE_NAME}:latest"

      - name: Deploy to ASG via SSM
        run: |
          REGISTRY="${{ steps.login-ecr.outputs.registry }}"
          REPO="${{ secrets.AWS_ECR_REPOSITORY }}"
          TAG="${{ github.sha }}"
          FULL_IMAGE="$REGISTRY/$REPO:$TAG"

          aws ssm send-command \
            --targets "Key=tag:aws:autoscaling:groupName,Values=${{ secrets.ASG_NAME }}" \
            --document-name "AWS-RunShellScript" \
            --comment "Deploying FastAPI to ASG via GitHub Actions" \
            --region ${{ secrets.AWS_REGION }} \
            --parameters "{
              \"commands\": [
                \"# ECR 로그인\",
                \"aws ecr get-login-password --region ${{ secrets.AWS_REGION }} | sudo docker login --username AWS --password-stdin $REGISTRY\",
                
                \"# 최신 이미지 가져오기 및 실행\",
                \"sudo docker pull $FULL_IMAGE\",
                \"sudo docker stop fastapi-server || true\",
                \"sudo docker rm fastapi-server || true\",
                
                \"sudo docker run -d --name fastapi-server -p 8000:8000 $FULL_IMAGE\",
                
                \"# 리소스 정리\",
                \"sudo docker image prune -f\"
              ]
            }"
